html, body {
    background: #3C4C55;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
}

h1 {
    color: #A8CE93;
    font-size: 2vw;
}

p {
    color: #899BA6;
    font-size: 1.2vw;
}

table {
    width: 100%;
    height: 100%;
}

.main_div{
    width: 40vw;
    display: block;
    margin: 0 auto;
}

.main_div h1{
    text-align: left;
    margin-bottom: 1vw;
}

.main_div p{
    text-align: left;
}

#me{
    width: 12vw;
    margin-bottom: 1vw;
    float: left;
}

#description{
    float: right;
    width: 27vw;
    padding-left: 1vw;
}